.auth-container {
    width: 25%;
    height: 55vh;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.597);
    border-radius: 10px;
    color: rgb(9,198,198);
}

.auth-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 10px;
    align-items: center;
    margin-left: 25px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 80%;
    padding: 8px;
    text-decoration: none;
    border: solid 1px #333;
    border-radius: 10px;
    outline-color: rgb(9,198,198);
}

.auth-container button {
    margin: 30px;
    margin-left: 60px;
    width: 60%;
    padding: 10px;
    font-size: 1em;
    background-color: rgb(9,198,198); 
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.auth-container button:hover {
    background-color: white;
    color: rgb(9,198,198);
    border: solid 2px rgb(9,198,198);
    border-radius: 10px;
}

.links {
    text-align: center;
    margin-top: 10px;
}

.links a {
    color: rgb(9,198,198);
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}