.password-container {
    width: 100%;
    max-width: 400px;
    height: 60vh;
    margin: 0 auto;
    padding: 15px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 12px 12px 10px rgba(1, 60, 67, 0.993);
  }
  
  .password-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.8em;
    color: rgb(9, 198, 198);
  }
  
  .form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 1em;
    color: rgb(9, 198, 198);
  }
  
  .form-group input {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    border: none;
    box-shadow: 3px 1px 3px 1px rgba(1, 60, 67, 0.993);
    border-radius: 5px;
    outline-color: rgb(9, 198, 198);
    font-size: 1em;
  }
  
  .password-container button {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    font-size: 1em;
    background-color: rgb(9, 198, 198);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
    margin-top: 20px;
    margin-left: 50px;
  }
  
  .login-container button:hover {
    background-color: white;
    color: rgb(9, 198, 198);
    border: 2px solid rgb(9, 198, 198);
  }
  
  .links {
    text-align: center;
    margin-top: 20px;
  }
  
  .links a {
    color: rgb(9, 198, 198);
    text-decoration: none;
    font-size: 1em;
  }
  
  .links a:hover {
    text-decoration: underline;
  }
  
  /* Media queries para diferentes tamaños de pantalla */
  @media (max-width: 768px) {
    .auth-container {
      width: 90%;
      padding: 15px;
    }
  
    .form-group input {
      width: 100%;
    }
  
    .login-container button {
      width: 100%;
    }
  }
  
  @media (max-width: 480px) {
    .login-container h2 {
      font-size: 1.5em;
    }
  
    .form-group input {
      width: 100%;
    }
  
    .login-container button {
      width: 100%;
    }
  }
  