.home {
    display: flex;
    width: 200%;
    flex-direction: column;
    text-align: center;
    margin-top:10px;
    margin-right: 120px;
    justify-content: space-between;
    height: 50vh;
    color:rgb(9,198,198);
}

.home h2 {
    font-size: 1.5em;
    color: rgb(9,198,198);
}

img {
    width: 150%;
    height: 65vh;
    object-fit: cover;
    margin-right: 50px;
}

.home button {
    width: 50%;
}

.home button:hover {
    background-color: white;
    color: rgb(9,198,198);
    border: 2px solid rgb(9,198,198);
    border-radius: 10px;
}