.logo {
    width: 58%;
    height: 70vh;
    display: flex;
    margin-right: 150px;
}

.title {
    color: rgb(9,198,198); 
    font-size: 1.5em;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;

}