.menu {
  background-color: #ffff;
  border: solid 2px rgb(9, 198, 198);
  border-radius: 10px;
  padding: 15px;
  width: 180px;
  position: fixed;
  margin-top: 130px;
  top: 0;
  left: 0;
  height: 55%;
  transition: transform 0.3s ease;
}

.menu.hidden {
  transform: translateX(-93%);
}

.menu.visible {
  transform: translateX(0);
}

.toggle-button {
  position: absolute;
  width: 40px;
  top: 10px;
  right: -25px;
  background-color: rgb(9, 198, 198);
  border: none;
  color: white;
  padding: 5px;
  cursor: pointer;
  border-radius: 4px;
}

/* Estilo para el botón de alternancia */
.toggle-button {
    font-size: 24px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

/* Estilo cuando el menú está abierto */
.toggle-button.opened {
    color: green; /* Cambia el color a verde cuando el menú está abierto */
    transform: rotate(180deg); /* Gira el botón cuando está abierto */
}

/* Estilo cuando el menú está cerrado */
.toggle-button.closed {
    color: red; /* Cambia el color a rojo cuando el menú está cerrado */
    transform: rotate(0deg); /* El botón se mantiene recto cuando está cerrado */
}

.menu nav ul {
  list-style: none;
  padding: 0;
}

.menu nav ul li {
  margin-bottom: 10px;
}

.menu nav ul li a {
  text-decoration: none;
  color: rgb(9, 198, 198);
  padding: 15px;
  text-align: center;
  border: solid 1px rgb(9, 198, 198);
  border-radius: 10px;
  display: block;
  margin-top: 25px;
}

.menu nav ul li a:hover {
  background-color: rgb(9, 198, 198);
  color: white;
}