.sidebar {
  background-color: #ffff;
  border: solid 2px rgb(9, 198, 198);
  border-radius: 10px;
  padding: 20px;
  width: 20%;
  height: 100px;
  position: fixed;
  margin-top: 130px;
  top: 0;
  left: 0;
  height: 55%;
  transition: transform 0.3s ease;
}

.sidebar.hidden {
  transform: translateX(-93%);
}

.sidebar.visible {
  transform: translateX(0);
}

.toggle-button {
  position: absolute;
  width: 40px;
  top: 10px;
  right: -25px;
  background-color: rgb(9, 198, 198);
  border: none;
  color: white;
  padding: 5px;
  cursor: pointer;
  border-radius: 4px;
}

/* Estilo para el botón de alternancia en el Sidebar */
.toggle-button {
    font-size: 24px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

/* Estilo cuando el Sidebar está abierto */
.toggle-button.opened {
    color: green; /* Cambia el color a verde cuando el sidebar está abierto */
    transform: rotate(180deg); /* Gira el botón cuando está abierto */
}

/* Estilo cuando el Sidebar está cerrado */
.toggle-button.closed {
    color: red; /* Cambia el color a rojo cuando el sidebar está cerrado */
    transform: rotate(0deg); /* El botón se mantiene recto cuando está cerrado */
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
}

.sidebar nav ul li a {
  text-decoration: none;
  color: rgb(9, 198, 198);
  padding: 10px;
  text-align: center;
  border: solid 1px rgb(9, 198, 198);
  border-radius: 10px;
  display: block;
  margin-top: 13px;
}

.button-sidebar {
  margin: 13px 0;
  width: 100%;
}

.sidebar nav ul li a:hover {
  background-color: rgb(9, 198, 198);
  color: white;
}
